<!--
  Texture Mask Text - CSS luminance masks that cut holes through letterforms.

  Usage: add class="sc-texture-text sc-texture-{name}" to any text element.
  Paste the real style element near the bottom of this file into your composition's HTML once.
  Texture PNGs install to assets/texture-mask-text/masks; these CSS classes
  reference them with project-root URLs so the CSS block can be pasted
  into any composition.

  Available textures (66 total):
    Masonry:
      sc-texture-brick                - mortar line patterns
      sc-texture-bricks-104           - ambientCG Bricks104
      sc-texture-bricks-102           - ambientCG Bricks102
      sc-texture-bricks-101           - ambientCG Bricks101
      sc-texture-bricks-075-a         - ambientCG Bricks075A
      sc-texture-concrete             - streaked channel cuts
      sc-texture-concrete-034         - ambientCG Concrete034
      sc-texture-concrete-047-a       - ambientCG Concrete047A
      sc-texture-concrete-046         - ambientCG Concrete046
      sc-texture-concrete-042-a       - ambientCG Concrete042A
      sc-texture-plaster-001          - ambientCG Plaster001
      sc-texture-painted-plaster-017  - ambientCG PaintedPlaster017

    Stone:
      sc-texture-rock                 - sharp hard cutouts
      sc-texture-rock-063             - ambientCG Rock063
      sc-texture-rock-058             - ambientCG Rock058
      sc-texture-onyx                 - flowing marble veins
      sc-texture-marble-012           - ambientCG Marble012
      sc-texture-marble-016           - ambientCG Marble016
      sc-texture-travertine-009       - ambientCG Travertine009
      sc-texture-paving-stones-150    - ambientCG PavingStones150
      sc-texture-paving-stones-138    - ambientCG PavingStones138
      sc-texture-tiles-138            - ambientCG Tiles138

    Ground / road:
      sc-texture-ground-103           - ambientCG Ground103
      sc-texture-ground-037           - ambientCG Ground037
      sc-texture-ground-054           - ambientCG Ground054
      sc-texture-ground-104           - ambientCG Ground104
      sc-texture-ground-068           - ambientCG Ground068
      sc-texture-ground-080           - ambientCG Ground080
      sc-texture-road-012-a           - ambientCG Road012A
      sc-texture-road-008-a           - ambientCG Road008A
      sc-texture-road-007             - ambientCG Road007
      sc-texture-road-013-a           - ambientCG Road013A
      sc-texture-road-012-b           - ambientCG Road012B
      sc-texture-road-009-c           - ambientCG Road009C
      sc-texture-asphalt-031          - ambientCG Asphalt031

    Wood:
      sc-texture-wood                 - horizontal grain slices
      sc-texture-wood-094             - ambientCG Wood094
      sc-texture-wood-092             - ambientCG Wood092
      sc-texture-wood-051             - ambientCG Wood051
      sc-texture-wood-066             - ambientCG Wood066
      sc-texture-wood-049             - ambientCG Wood049
      sc-texture-wood-058             - ambientCG Wood058
      sc-texture-wood-floor-051       - ambientCG WoodFloor051
      sc-texture-wood-floor-064       - ambientCG WoodFloor064
      sc-texture-wood-floor-070       - ambientCG WoodFloor070
      sc-texture-bark-014             - ambientCG Bark014

    Metal:
      sc-texture-metal                - rust and pit erosion
      sc-texture-metal-049-a          - ambientCG Metal049A
      sc-texture-metal-055-a          - ambientCG Metal055A
      sc-texture-metal-046-b          - ambientCG Metal046B
      sc-texture-metal-061-b          - ambientCG Metal061B
      sc-texture-metal-048-a          - ambientCG Metal048A
      sc-texture-metal-032            - ambientCG Metal032
      sc-texture-metal-041-a          - ambientCG Metal041A
      sc-texture-metal-038            - ambientCG Metal038
      sc-texture-diamond-plate-009    - ambientCG DiamondPlate009

    Organic / soft:
      sc-texture-lava                 - smooth organic erosion
      sc-texture-grass-005            - ambientCG Grass005
      sc-texture-grass-001            - ambientCG Grass001
      sc-texture-grass-004            - ambientCG Grass004
      sc-texture-carpet               - fine repeating weave
      sc-texture-fabric-083           - ambientCG Fabric083
      sc-texture-snow                 - soft patchy dissolve
      sc-texture-snow-015             - ambientCG Snow015
      sc-texture-leather-037          - ambientCG Leather037
      sc-texture-fabric-080           - ambientCG Fabric080

  Custom properties:
    --mask-size       cover     CSS mask-size
    --mask-position   center    CSS mask-position
    --mask-contrast   1         filter contrast to sharpen/soften edges

  Custom texture (set mask-image directly, not via custom property):
    <div class="sc-texture-text" style="-webkit-mask-image: url('my-texture.png'); mask-image: url('my-texture.png')">TEXT</div>

  Drop shadow (follows masked contour, not bounding box):
    <div style="filter: drop-shadow(2px 3px 4px rgba(0,0,0,0.3))">
      <div class="sc-texture-text sc-texture-lava">TEXT</div>
    </div>
-->

<style>
  .sc-texture-text {
    color: #fff;
    -webkit-mask-size: var(--mask-size, cover);
    mask-size: var(--mask-size, cover);
    -webkit-mask-position: var(--mask-position, center);
    mask-position: var(--mask-position, center);
    -webkit-mask-mode: luminance;
    mask-mode: luminance;
    filter: contrast(var(--mask-contrast, 1));
  }

  .sc-texture-lava {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/lava.png");
    mask-image: url("/assets/texture-mask-text/masks/lava.png");
  }
  .sc-texture-rock {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/rock.png");
    mask-image: url("/assets/texture-mask-text/masks/rock.png");
  }
  .sc-texture-concrete {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/concrete.png");
    mask-image: url("/assets/texture-mask-text/masks/concrete.png");
  }
  .sc-texture-brick {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/brick.png");
    mask-image: url("/assets/texture-mask-text/masks/brick.png");
  }
  .sc-texture-wood {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood.png");
    mask-image: url("/assets/texture-mask-text/masks/wood.png");
  }
  .sc-texture-onyx {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/onyx.png");
    mask-image: url("/assets/texture-mask-text/masks/onyx.png");
  }
  .sc-texture-carpet {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/carpet.png");
    mask-image: url("/assets/texture-mask-text/masks/carpet.png");
  }
  .sc-texture-metal {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/metal.png");
    mask-image: url("/assets/texture-mask-text/masks/metal.png");
  }
  .sc-texture-snow {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/snow.png");
    mask-image: url("/assets/texture-mask-text/masks/snow.png");
  }
  .sc-texture-bricks-104 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/bricks-104.png");
    mask-image: url("/assets/texture-mask-text/masks/bricks-104.png");
  }
  .sc-texture-ground-103 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/ground-103.png");
    mask-image: url("/assets/texture-mask-text/masks/ground-103.png");
  }
  .sc-texture-grass-005 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/grass-005.png");
    mask-image: url("/assets/texture-mask-text/masks/grass-005.png");
  }
  .sc-texture-rock-063 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/rock-063.png");
    mask-image: url("/assets/texture-mask-text/masks/rock-063.png");
  }
  .sc-texture-wood-094 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood-094.png");
    mask-image: url("/assets/texture-mask-text/masks/wood-094.png");
  }
  .sc-texture-road-012-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/road-012-a.png");
    mask-image: url("/assets/texture-mask-text/masks/road-012-a.png");
  }
  .sc-texture-wood-092 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood-092.png");
    mask-image: url("/assets/texture-mask-text/masks/wood-092.png");
  }
  .sc-texture-metal-049-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/metal-049-a.png");
    mask-image: url("/assets/texture-mask-text/masks/metal-049-a.png");
  }
  .sc-texture-wood-floor-051 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood-floor-051.png");
    mask-image: url("/assets/texture-mask-text/masks/wood-floor-051.png");
  }
  .sc-texture-paving-stones-150 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/paving-stones-150.png");
    mask-image: url("/assets/texture-mask-text/masks/paving-stones-150.png");
  }
  .sc-texture-road-008-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/road-008-a.png");
    mask-image: url("/assets/texture-mask-text/masks/road-008-a.png");
  }
  .sc-texture-road-007 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/road-007.png");
    mask-image: url("/assets/texture-mask-text/masks/road-007.png");
  }
  .sc-texture-metal-055-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/metal-055-a.png");
    mask-image: url("/assets/texture-mask-text/masks/metal-055-a.png");
  }
  .sc-texture-concrete-034 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/concrete-034.png");
    mask-image: url("/assets/texture-mask-text/masks/concrete-034.png");
  }
  .sc-texture-grass-001 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/grass-001.png");
    mask-image: url("/assets/texture-mask-text/masks/grass-001.png");
  }
  .sc-texture-wood-051 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood-051.png");
    mask-image: url("/assets/texture-mask-text/masks/wood-051.png");
  }
  .sc-texture-asphalt-031 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/asphalt-031.png");
    mask-image: url("/assets/texture-mask-text/masks/asphalt-031.png");
  }
  .sc-texture-wood-floor-064 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood-floor-064.png");
    mask-image: url("/assets/texture-mask-text/masks/wood-floor-064.png");
  }
  .sc-texture-concrete-047-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/concrete-047-a.png");
    mask-image: url("/assets/texture-mask-text/masks/concrete-047-a.png");
  }
  .sc-texture-metal-046-b {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/metal-046-b.png");
    mask-image: url("/assets/texture-mask-text/masks/metal-046-b.png");
  }
  .sc-texture-grass-004 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/grass-004.png");
    mask-image: url("/assets/texture-mask-text/masks/grass-004.png");
  }
  .sc-texture-marble-012 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/marble-012.png");
    mask-image: url("/assets/texture-mask-text/masks/marble-012.png");
  }
  .sc-texture-ground-037 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/ground-037.png");
    mask-image: url("/assets/texture-mask-text/masks/ground-037.png");
  }
  .sc-texture-tiles-138 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/tiles-138.png");
    mask-image: url("/assets/texture-mask-text/masks/tiles-138.png");
  }
  .sc-texture-wood-066 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood-066.png");
    mask-image: url("/assets/texture-mask-text/masks/wood-066.png");
  }
  .sc-texture-concrete-046 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/concrete-046.png");
    mask-image: url("/assets/texture-mask-text/masks/concrete-046.png");
  }
  .sc-texture-wood-049 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood-049.png");
    mask-image: url("/assets/texture-mask-text/masks/wood-049.png");
  }
  .sc-texture-road-013-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/road-013-a.png");
    mask-image: url("/assets/texture-mask-text/masks/road-013-a.png");
  }
  .sc-texture-plaster-001 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/plaster-001.png");
    mask-image: url("/assets/texture-mask-text/masks/plaster-001.png");
  }
  .sc-texture-snow-015 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/snow-015.png");
    mask-image: url("/assets/texture-mask-text/masks/snow-015.png");
  }
  .sc-texture-road-012-b {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/road-012-b.png");
    mask-image: url("/assets/texture-mask-text/masks/road-012-b.png");
  }
  .sc-texture-concrete-042-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/concrete-042-a.png");
    mask-image: url("/assets/texture-mask-text/masks/concrete-042-a.png");
  }
  .sc-texture-bricks-102 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/bricks-102.png");
    mask-image: url("/assets/texture-mask-text/masks/bricks-102.png");
  }
  .sc-texture-rock-058 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/rock-058.png");
    mask-image: url("/assets/texture-mask-text/masks/rock-058.png");
  }
  .sc-texture-wood-floor-070 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood-floor-070.png");
    mask-image: url("/assets/texture-mask-text/masks/wood-floor-070.png");
  }
  .sc-texture-bricks-101 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/bricks-101.png");
    mask-image: url("/assets/texture-mask-text/masks/bricks-101.png");
  }
  .sc-texture-travertine-009 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/travertine-009.png");
    mask-image: url("/assets/texture-mask-text/masks/travertine-009.png");
  }
  .sc-texture-ground-054 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/ground-054.png");
    mask-image: url("/assets/texture-mask-text/masks/ground-054.png");
  }
  .sc-texture-wood-058 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/wood-058.png");
    mask-image: url("/assets/texture-mask-text/masks/wood-058.png");
  }
  .sc-texture-ground-104 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/ground-104.png");
    mask-image: url("/assets/texture-mask-text/masks/ground-104.png");
  }
  .sc-texture-painted-plaster-017 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/painted-plaster-017.png");
    mask-image: url("/assets/texture-mask-text/masks/painted-plaster-017.png");
  }
  .sc-texture-paving-stones-138 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/paving-stones-138.png");
    mask-image: url("/assets/texture-mask-text/masks/paving-stones-138.png");
  }
  .sc-texture-ground-068 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/ground-068.png");
    mask-image: url("/assets/texture-mask-text/masks/ground-068.png");
  }
  .sc-texture-bricks-075-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/bricks-075-a.png");
    mask-image: url("/assets/texture-mask-text/masks/bricks-075-a.png");
  }
  .sc-texture-ground-080 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/ground-080.png");
    mask-image: url("/assets/texture-mask-text/masks/ground-080.png");
  }
  .sc-texture-road-009-c {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/road-009-c.png");
    mask-image: url("/assets/texture-mask-text/masks/road-009-c.png");
  }
  .sc-texture-bark-014 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/bark-014.png");
    mask-image: url("/assets/texture-mask-text/masks/bark-014.png");
  }
  .sc-texture-marble-016 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/marble-016.png");
    mask-image: url("/assets/texture-mask-text/masks/marble-016.png");
  }
  .sc-texture-fabric-083 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/fabric-083.png");
    mask-image: url("/assets/texture-mask-text/masks/fabric-083.png");
  }
  .sc-texture-metal-061-b {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/metal-061-b.png");
    mask-image: url("/assets/texture-mask-text/masks/metal-061-b.png");
  }
  .sc-texture-metal-048-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/metal-048-a.png");
    mask-image: url("/assets/texture-mask-text/masks/metal-048-a.png");
  }
  .sc-texture-metal-032 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/metal-032.png");
    mask-image: url("/assets/texture-mask-text/masks/metal-032.png");
  }
  .sc-texture-metal-041-a {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/metal-041-a.png");
    mask-image: url("/assets/texture-mask-text/masks/metal-041-a.png");
  }
  .sc-texture-metal-038 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/metal-038.png");
    mask-image: url("/assets/texture-mask-text/masks/metal-038.png");
  }
  .sc-texture-diamond-plate-009 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/diamond-plate-009.png");
    mask-image: url("/assets/texture-mask-text/masks/diamond-plate-009.png");
  }
  .sc-texture-leather-037 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/leather-037.png");
    mask-image: url("/assets/texture-mask-text/masks/leather-037.png");
  }
  .sc-texture-fabric-080 {
    -webkit-mask-image: url("/assets/texture-mask-text/masks/fabric-080.png");
    mask-image: url("/assets/texture-mask-text/masks/fabric-080.png");
  }
</style>
